* {
  margin: 0px;
  padding: 0px;
}

:root {
  font-family: 'Poppins', sans-serif;
  color: black;
  line-height: 150%;
}

body {
  background-image: url(assets/v675-taus-35c-technologyinterface.jpg);
  background-size: cover;
}

#page {
  box-sizing: border-box;
  width: 800px;
  background-color:antiquewhite;
  border-radius: 24px;
  padding: 24px;
  margin: 48px auto 28px;
}

img {
  width: 752px;
  border-radius: 16px;
  height: 400px;
}

main {
  padding: 24px 0px 24px 0px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size 24px
}

h1, h2 {
  margin-bottom: 4px;
}

#about p {
  padding: 24px 0px 24px 0;
  font-size: 20px;
}

p {
  font-size: 18px;
}

#information p {
  padding: 24px 0px 0px;
}

#epoca {
  padding-top: 24px;
}

#epoca p {
  padding-top: 24px;
}

footer {
  text-align: center;
  color: antiquewhite;
}

a {
  text-decoration: none;
  color: rgb(129, 173, 255)
  font-size: 16px;
}